.body {
  height: 100%; /* Adjust height as needed, 100vh covers the full viewport height */
  background-image: url("/backg.jpg"); /* Set the background image */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /*to create parallax*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: visible; /*for making a long page*/
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
