.body {
  height: 100%; /* Adjust height as needed, 100vh covers the full viewport height */
  background-image: url("/backg.jpg"); /* Set the background image */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /*to create parallax*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: visible; /*for making a long page*/
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
/* TODO - create a global component */
.menuButton {
  border: 3px solid white;
  padding: 10px 20px;
  font-size: 0.95rem;
  letter-spacing: 0.05em;
  color: white;
  cursor: pointer;
  background: transparent;
  border-radius: 0.375rem;
  display: flex;
  align-items: center; /* Vertically center flex items */
  justify-content: center; /* Horizontally center flex items */
  gap: 8px; /* Adjust the space between the icon and the text */
}
.menuButton svg {
  flex-shrink: 0; /* Prevent the SVG from shrinking */
  width: 24px; /* Set a specific width */
  height: 40px; /* Set a specific height */
}
