.logoContainer {
  flex: 1;
  text-align: center;
}

.menuButton {
  border: 3px solid white;
  padding: 10px 20px;
  font-size: 0.95rem;
  letter-spacing: 0.05em;
  color: white;
  cursor: pointer;
  background: transparent;
  border-radius: 0.375rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically in the container */
  /*align-items: center;  Centers content horizontally in the container */
  text-align: center;
  color: white;
  height: 100vh; /* Makes the container take up the full viewport height */
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.mainHeading {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.coordinate {
  bottom: 20px;
  left: 20px;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  position: absolute;
}
.mainTitle {
  margin-bottom: 200px;
}
.description {
  margin-top: 5rem;
  align-items: center;
  width: 50%;
}
.roomsContainer {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  width: 100%;
  margin: 0 auto;
  background-color: #d4b49a;
  overflow: visible;
  background-attachment: fixed; /*to create parallax*/
  display: flex;
}
.main_title {
  font-size: 2rem;
  /* margin-top: 2rem; */

  color: #489bb4;
}

.subtitle {
  padding-top: 2rem;
  font-size: 1rem;
  color: #51aeca;
  margin-bottom: 2rem;
}

.roomsCardsContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.roomCard {
  width: calc(33.333% - 20px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
}
.roomCard img {
  width: 100%;
  height: auto;
  display: block;
}
.roomCard h2 {
  font-size: 1.5rem;
  color: #333;
  padding: 0.5rem 1rem;
}

.roomCard p {
  font-size: 1rem;
  color: #666;
  padding: 0 1rem 1rem;
}

.view_more_btn {
  display: block;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  border: none;
  cursor: pointer;
}
.view_more_btn:hover {
  background: #444;
}

@media (max-width: 800px) {
  .roomsCardsContainer {
    flex-direction: column;
  }

  .roomCard {
    width: 100%;
  }
}
.outdoorContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  flex-direction: row;
}
.outdoorActivity img {
  border-radius: 9999px;
  width: 100%;

  height: auto;
  display: block;
}
.outdoorActivity {
  width: calc(33.333% - 20px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  overflow: hidden;
}
.video-section {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border: none;
}

.video-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 50%;
  width: 100%;
  background-color: #51aeca;
}

.googleMaps img {
  width: 20%;
  height: 20%;
}
