.roomsContain {
  display: flex;
  /* Allow items to wrap to the next line */
  justify-content: space-evenly; /* Center items horizontally */
  gap: 0px; /* Space between items */
  padding: 20px;
  margin-top: 30px;
}
.mainHeading {
  font-size: 22px;
  text-align: center;
  margin-top: 16rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(248 250 252);
}
.card {
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  align-items: center;
  background-color: #eee;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  overflow: hidden;
  width: 28%; /* Fixed width for cards */
  flex: 0 1 auto; /* Don't grow, allow shrinking, basis is auto */
}
.roomImage:hover {
  opacity: 0.5;
}
.roomImage {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.roomId {
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
}

@media (max-width: 600px) {
  .roomsContain {
    justify-content: space-around; /* Adjust alignment for single column layout */
  }

  .card {
    width: 80%; /* Adjust card width on smaller screens */
    margin-bottom: 16px; /* Add space between vertically stacked cards */
  }
}
