.roomsContainer {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  width: 100%;
  margin: 0 auto;
  background-color: #d4b49a;
  overflow: visible;
  background-attachment: fixed; /*to create parallax*/
}
.description {
  margin-top: 5rem;
  align-items: center;
  width: 50%;
}
.subtitle {
  padding-top: 2rem;
  font-size: 1rem;
  color: #51aeca;
  margin-bottom: 2rem;
}
.roomsCardsContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.roomCard {
  width: calc(33.333% - 20px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
}
.roomCard img {
  width: 100%;
  height: auto;
  display: block;
}
.roomCard h2 {
  font-size: 1.5rem;
  color: #333;
  padding: 0.5rem 1rem;
}

.roomCard p {
  font-size: 1rem;
  color: #666;
  padding: 0 1rem 1rem;
}

.view_more_btn {
  display: block;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  border: none;
  cursor: pointer;
}
.view_more_btn:hover {
  background: #444;
}

@media (max-width: 800px) {
  .roomsCardsContainer {
    flex-direction: column;
  }

  .roomCard {
    width: 100%;
  }
}
